.text-color li a {
    color: black;
}

.logo-color, .logo-color a {
    color: black;
}

.flashes h4 {
    line-height: 2;
}

@media only screen and (max-width: 600px) {
  .brand-logo {
    white-space: nowrap;
  }
}