body {
    background-image: url(https://wallpaperaccess.com/full/2317617.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.collapsible-body {
    background-color: white;
}

.text-color li a {
    color: black;
}

.logo-color, .logo-color a {
    color: black;
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5;
    line-height: 42px;
}

@media only screen and (max-width: 600px) {
  .brand-logo {
    white-space: nowrap;
  }
}