{% extends "base.html" %}
{% block content %}

    <h3 class="center-align nav-heading">Add Recipe</h3>

    <div class="row card-panel yellow lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!--recipe type-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix yellow-text text-accent-4"></i>
                    <select id="recipe_type" name="recipe_type" class="validate" required>
                        <option value="" disabled selected>Choose your option</option>
                        {% for type in types %}
                            <option value="{{ type.recipe_type }}">{{ type.recipe_type }}</option>
                        {% endfor %}
                    </select>
                    <label for="recipe_type">Type</label>
                </div>
            </div>
            <!--recipe name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix yellow-text text-accent-4"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                     type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!--usage-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix yellow-text text-accent-4"></i>
                    <textarea id="usage" name="usage" minlength="3" maxlength="200"
                     class="materialize-textarea validate" required></textarea>
                    <label for="usage">Usage</label>
                </div>
            </div>
            <!--materials needed-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-hammer prefix yellow-text text-accent-4"></i>
                    <textarea id="materials_needed" name="materials_needed" minlength="5" maxlength="200"
                     class="materialize-textarea validate" required></textarea>
                    <label for="materials_needed">Materials Needed</label>
                </div>
            </div>
            <!--recipe image-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-image prefix yellow-text text-accent-4"></i>
                    <input id="image_url" name="image_url" type="url" class="validate" required>
                    <label for="image_url">Image URL</label>
                </div>
            </div>
            <!--limited time toggle-->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix yellow-text text-accent-4"></i>
                        <label for="limited_time">
                            <input type="checkbox" id="limited_time" name="limited_time">
                            <span class="lever"></span>
                            Limited Time Only
                        </label>
                    </div>
                </div>
            </div>
            <!--submit button-->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large yellow accent-4 waves-effect waves-light">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}