{% extends "base.html" %}
{% block content %}


    <div class="container">
        <div class="row valign-wrapper">
            <div class="col s12 m12" method="POST" action="{{ url_for('index') }}">
                <div class="card-panel yellow accent-4 about-us kiwi-font">
                    <span><b>About Us</b><br>
                        This Website focuses solely on the DIY Recipes available in Animal Crossing: New Horizons. Search for recipes here and
                        craft it in game. But wait, you discovered a recipe?! Feel free to ADD the recipe by yourself here if its not on the
                        site already! <br>
                        <b>About Animal Crossing: New Horizons</b><br>
                        Animal Crossing: New Horizons (あつまれ どうぶつの森 Atsumare Dōbutsu no Mori, Animal Forest: Gather) is a real-time social
                        simulation video game developed by Nintendo. It was released on March 20, 2020, and is the eighth (and so far the
                        newest) main-series game in the Animal Crossing series, after New Leaf. The story starts with the player living on a
                        deserted island as part of Nook Inc. Getaway Package.
                        Compared to previous installments, New Horizons aesthetics are even more detailed, with more realistic flora, detailed
                        characters, intricate furniture, and weather patterns.<br>
                        <b>Crafting</b><br>
                        In New Horizons, players are able to use workbenches to craft furniture, tools, and some consumables (medicine and fish
                        bait) using various materials gathered from their island and on mystery tour islands.
                        Initially, the player is only able to use Tom Nook's crafting bench, but eventually the player will learn recipes to
                        create DIY benches of their own. Islanders can also teach the player new DIY Recipes if the player talks to them while
                        they are crafting. <br>
                        <b>DIY Recipe</b><br>
                        DIY recipes are a crafting mechanic in New Horizons. Recipes can be crafted at a DIY workbench using gathered materials
                        and/or furniture. It can be accessed through the DIY Recipes app on the NookPhone. DIY recipes can be sold to Timmy &
                        Tommy for 200 bells. At Nook's Cranny (and in the Resident Services tent), a few recipes are available for purchase,
                        including the flimsy tools (Axe, Shovel, Fishing Rod, Net, and Watering Can), the slingshot, ladder, and vaulting pole.
                        Every day, 1 message in a bottle will wash up on the shore of your island, with a letter and a DIY recipe inside. If you
                        do not pick up the bottle one day, two may spawn on the next. The bottle only contains DIY recipes otherwise obtainable
                        from either all island residents or island residents of certain personalities. <br>
                    </span>
                    <a href="{{ url_for('get_recipes') }}" class="btn-small teal accent-4">Click here to visit the Recipe.</a>
                </div>
            </div>
        </div>
    </div>      

{% endblock %}