{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel yellow accent-4">
                <h3 class="center-align nav-heading">
                    <u>{{ username }}'s Profile</u>
                </h3>
                <h5 class="center-align kiwi-font">
                    Your Recipes
                </h5>
            </div>
        </div>
    </div>

    <div class="row kiwi-font">
        {% for recipe in recipes %}
            {% if session.user == recipe.created_by %}
                    <div class="col s12 m3">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
                            </div>
                            <div class="card-content yellow accent-4">
                                <b>{{ recipe.recipe_name }}</b> 
                                <i class="fas fa-ellipsis-v right"></i>
                                <p>{{ recipe.recipe_type }}</p>
                                {% if recipe.limited_time == "on" %}
                                    <i class="fas fa-exclamation-circle right tooltipped"
                                    data-position="right" data-tooltip="LIMITED TIME ONLY"></i>
                                {% endif %}
                                {% if session.user|lower == recipe.created_by|lower %}
                                    <!-- Modal Trigger -->
                                    <button data-target="#confirm-delete-{{ recipe._id }}" class="waves-effect waves-yellow btn-small deep-orange accent-4 modal-trigger">Remove</button>
                                    <!-- Modal Structure -->
                                    <div id="#confirm-delete-{{ recipe._id }}" class="modal bottom-sheet">
                                        <div class="modal-content yellow accent-4">
                                            <h4><b>Warning</b></h4>
                                            <p><b>Do you wish to remove this Recipe?</b></p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close btn-small deep-orange accent-4 kiwi-font">Agree</a>
                                            <a href="#!" class="modal-close btn-small light-blue accent-4">Return</a>
                                        </div>
                                    </div>
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small teal accent-4 kiwi-font">Edit</a>
                                {% endif %}
                            </div>

                            <div class="card-reveal yellow accent-4">
                                <span class="card-title grey-text text-darken-4">
                                    <b>{{ recipe.recipe_name }}</b>
                                    <i class="fas fa-times right"></i>
                                    <p>{{ recipe.recipe_type }}</p>
                                </span>
                                <p>{{ recipe.usage }}</p>
                                <p>{{ recipe.materials_needed }}</p>
                                <p><em>by: {{ recipe.created_by }}</em></p>
                            </div>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}