{% extends "base.html" %}
{% block content %}


    <ul class="collapsible popout">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header yellow darken-4">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.recipe_type }}</strong> : {{ recipe.recipe_name }}
                {% if recipe.limited_time == "on" %}
                    <i class="fas fa-exclamation-circle tooltipped"
                     data-position="right" data-tooltip="LIMITED TIME ONLY"></i>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <p>{{ recipe.usage }}</p>
                <p>{{ recipe.recipe_needed }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
