{% extends "base.html" %}
{% block content %}


    {% for recipe in recipes %}
        {{ recipe.name }}<br>
        {{ recipe.type }}<br>
        {{ recipe.usage }}<br>
        {{ recipe.recipe }}<br>
    {% endfor %}

    <ul class="collapsible popout">
        <li>
            <div class="collapsible-header yellow darken-4"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header yellow darken-4"><i class="fas fa-caret-down"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header yellow darken-4"><i class="fas fa-caret-down"></i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}
